* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    
  }
  
  /* #gameBoard {
    width: 360px;
    height: 360px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  } */

  #grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
  }
  
  .cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
}


  /* This is the code from a previous workshop in class where we designed a tic-tac-toe grid using nth child and flexbox. I used this as a reference to create the grid for my game. */